<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

    {% for post in posts %}
    <div>
      <h1><a href="">  {{ post.title }} </a></h1>
      <p>{{ post.text|linebreaks }}</p>
      <p><em>Published {{ post.published_date }}</em></p>
    </div>
    {% endfor %}
    </body>
</html>
